body{
    background-color: #fff1b5;
 }
 hr{
    border-style:none;
    border-top-style:dotted;
    border-color: rgb(202, 73, 73);
    border-width:5px;
    height: 0px;
    width: 5%;
 }

 h1{
    color: #ca2929;
 }

 h3{
    color: #ca2929;    
 }
